<div class="container">
    <h3 class="lead">Get in Touch</h3>
    <ul>
        <li>
            Movie Studio,
            Bangalore,
            KA - 560103
        </li>
        <li>
            Get in touch with us <a>+91 9685451526</a>
        </li>
        <li><email address="rahul@gmail.com" content="Mail Us"></email></li>
    </ul>
</div>